<!--

    Copyright (C) 2011-2016 dCache.org <support@dcache.org>

    This file is part of xrootd4j.

    xrootd4j is free software: you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    xrootd4j is distributed in the hope that it will be useful, but
    WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with xrootd4j.  If not, see http://www.gnu.org/licenses/.

-->
<assembly>
    <id>plugin</id>
    <formats>
        <format>tar.gz</format>
        <format>dir</format>
    </formats>
    <includeBaseDirectory>true</includeBaseDirectory>

    <dependencySets>
        <dependencySet>
            <excludes>
                <exclude>org.dcache:xrootd4j:jar:*</exclude>
                <exclude>org.slf4j:slf4j-api:jar:*</exclude>
            </excludes>
            <useProjectArtifact>true</useProjectArtifact>
            <useTransitiveFiltering>true</useTransitiveFiltering>
        </dependencySet>
    </dependencySets>

    <files>
        <file>
            <source>src/main/resources/default.properties</source>
        </file>
    </files>
</assembly>
